// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #ddd;
// $body-color: rgb(255, 255, 255);
// $primary: rgb(255, 255, 255);
// $font-family-base: courier new;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}
.bg-light {
  background-color: #ddd !important;
}
.navbar {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.topic {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 4em;
  font-weight: bold;
  margin-top: 5rem;
}
.navbar-light .navbar-nav .nav-link.active:link {
  color: black;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: white;
}
.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  font-size: larger;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 3rem;
}
.randomtext {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
}
.bottombar {
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ddd;
}
.emailto {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}
a:hover {
  color: white;
  text-decoration: white;
}
a:link {
  text-decoration: black;
}
a:active {
  color: white;
}
.topic:hover {
  font-size: 5em;
  color: hotpink;
}
