// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #ddd;
// $body-color: rgb(255, 255, 255);
// $primary: rgb(255, 255, 255);
// $font-family-base: courier new;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
.body {
  scroll-snap-type: mandatory;
}
.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}

// navigation
.bg-light {
  background-color: #ddd !important;
}
.navbar {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: black;
}
.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  font-size: larger;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 3rem;
}

// portfolio image plus text
.col-topic {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 300%;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48%;
  margin-bottom: 30%;
}
.topic {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 400%;
  font-weight: bold;
  margin-top: 5rem;
}
.portfolio-img {
  max-width: 90%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
}

.col-topic:hover {
  font-size: 350%;
  color: hotpink;
}

.cv {
  text-align: center;
  width: 100%;
  height: 50%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 300%;
  font-weight: bold;
  height: 15%;
}
.cv-topic {
  color: blue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.school {
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  font-size: 125%;
  margin-bottom: 45%;
  line-height: 2;
}
.cv-topic-2 {
  color: blue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.experience {
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  font-size: 125%;
  margin-bottom: 60%;
  line-height: 2;
}
.col {
  background-color: white;
}
#acctive-link:hover {
  color: hotpink;
}
#acctive-link:link {
  color: black;
}
.cv-topic-3 {
  color: blue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.hobbies {
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  font-size: 150%;
  margin-bottom: 60%;
  line-height: 2;
}
.cv-topic-4 {
  color: blue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.language {
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  font-size: 150%;
  margin-bottom: 55%;
  line-height: 2;
}
.container-cv {
  width: 100%;
}

// bottum bar
.bottombar {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 100%;
  height: 7%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ddd;
}
.emailto {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}
a:hover {
  color: white;
  text-decoration: white;
}
a:link {
  text-decoration: black;
}
a:active {
  color: white;
}
